@import "./sassVars";

.circle {
    border-radius: 100%;
}

.drop-shadow {
    box-shadow: 3px 4px 9px #00000040;
}

/* Rounds out edges of rectangular elements to be more pill-shaped */
.pill {
    border-radius: 65px;
}

/* Makes backgrounds look like glass */
.glass {
    background-color: #fffffff4;
}

hr {
    width: 100%;
    margin: auto;
    color: $text-secondary-color !important;
    height: 1px !important;
    margin-top: 1em;
    margin-bottom: .5em;
}