.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
    height: fit-content;
    padding: .75em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto;
    z-index: 1;
}